
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/users-management.css">
</head>
<body>
  <%- include('partials/header') %>

  <main>
    <h1>User Management</h1>
    <button id="addUserButton">Add New User</button>
    <div class="table-container">
      <table class="user-table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Gender</th>
            <th>User Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
            <tr data-id="<%= user._id %>">
              <form action="/users-management/<%= user._id %>" method="POST">
                <td><input type="text" name="first_name" value="<%= user.first_name %>" disabled></td>
                <td><input type="text" name="last_name" value="<%= user.last_name %>" disabled></td>
                <td><input type="email" name="email" value="<%= user.email %>" disabled></td>
                <td>
                  <input type="date" name="date_of_birth" 
                    value="<%= new Date(user.date_of_birth).toISOString().split('T')[0] %>" 
                    disabled>
                </td>
                <td><input type="text" name="street" value="<%= user.address.street %>" disabled></td>
                <td><input type="text" name="city" value="<%= user.address.city %>" disabled></td>
                <td><input type="text" name="state" value="<%= user.address.state %>" disabled></td>
                <td><input type="text" name="postal_code" value="<%= user.address.postal_code %>" disabled></td>
                <td>
                  <select name="gender" disabled>
                    <option value="Male" <%= user.gender === 'Male' ? 'selected' : '' %>>Male</option>
                    <option value="Female" <%= user.gender === 'Female' ? 'selected' : '' %>>Female</option>
                    <option value="Other" <%= user.gender === 'Other' ? 'selected' : '' %>>Other</option>
                  </select>
                </td>
                <td>
                  <select name="user_type" disabled>
                    <option value="Regular" <%= user.user_type === 'Regular' ? 'selected' : '' %>>Regular</option>
                    <option value="Admin" <%= user.user_type === 'Admin' ? 'selected' : '' %>>Admin</option>
                  </select>
                </td>
                <td>
                  <div class="actions-wrapper">
                    <button type="button" class="editButton">Edit</button>
                    <button type="submit" class="submitButton" style="display: none;">Submit</button>
                    <button type="button" class="cancelButton" style="display: none;">Cancel</button>
                    <button type="button" class="deleteButton">Delete</button>
                    <!-- <a href="/admin/orders-history/<%= user._id %>">Order History</a> -->
                    <a href="/admin/orders-history/<%= user._id %>" class="orderHistoryButton">Order History</a>
                  </div>
                </td>
              </form>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <% if (currentPage > 1) { %>
        <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
      <% } %>

      <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="?page=<%= i %>&limit=<%= limit %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
      <% } %>

      <% if (currentPage < totalPages) { %>
        <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
      <% } %>
    </div>
  </main>

  <!-- Add User Modal -->
  <div id="addUserModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1>Add User</h1>
      <form class="add-user-form" action="/users-management" method="POST">

        <div class="form-row">
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" required>
        </div>

        <div class="form-row">
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" required>
        </div>

        <div class="form-row">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>

        <div class="form-row">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>

        <div class="form-row">
          <label for="date_of_birth">Date of Birth:</label>
          <input type="date" id="date_of_birth" name="date_of_birth" required>
        </div>

        <div class="form-row">
          <label for="street">Street:</label>
          <input type="text" id="street" name="street">
        </div>

        <div class="form-row">
          <label for="city">City:</label>
          <input type="text" id="city" name="city">
        </div>

        <div class="form-row">
          <label for="state">State:</label>  
          <input type="text" id="state" name="state">
        </div>

        <div class="form-row">
          <label for="postal_code">Postal Code:</label>
          <input type="text" id="postal_code" name="postal_code">
        </div>

        <div class="form-row">
          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>


        <div class="form-row">
          <label for="user_type">User Type:</label>
          <select id="user_type" name="user_type">
            <option value="Regular">Regular</option>
            <option value="Admin">Admin</option>
          </select>
        </div>
          
        <button type="submit">Add User</button>
      </form>
    </div>
  </div>

  <div id="searchModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Search Products</h2>
        <input type="text" id="searchInput">
        <div id="resultsContainer" class="results-container"></div>
    </div>
</div>

<%- include('partials/footer') %>
</body>
<script src="/scripts/userManagement.js"></script>
<script src="/scripts/contextMenu.js"></script>
<script src="/scripts/wishlist.js"></script>
<script src="/scripts/moveToCartFromWishlist.js"></script>
<script src="/scripts/search.js"></script>

</html>
