<div class="product-col">
  <a href="/product/<%= product.item_id %>">
    <img class="product-img" src="<%= product.image_url %>" alt="<%= product.item_name %>">
  </a>
    <h3><%= product.item_name %></h3>
    <p><%= product.item_description %></p>
    <p>£<%= product.price %></p>
    <form action="/wishlist/add/<%= product._id %>" method="POST">
      <button type="submit">Add to Wishlist</button>
  </form>
</div>