<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogwarts Emporium</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <button id="scrollTopButton"><i class="chevron-up-icon"></i></button>

        <div class="product-container">
            <img src="<%= product.image_url %>" alt="<%= product.item_name %>" class="product-image">
            <div class="product-details">
              <h1><%= product.item_name %></h1>
              <p class="product-dec"><%= product.item_description %></p>
              <div class="product-details-row">
                <div class="product-details-col">
                  <p><b>Category:</b> <%= product.category %></p>
    
                  <% if (typeof product.subcategory === 'object') { %>
                    <p><b>Type:</b> <%= product.subcategory.type %></p>
                    <% if (product.subcategory.sizes && product.subcategory.sizes.length > 0) { %>
                      <div class="size-row">
                        <label for="size"><b>Size:</b></label>
                      <select id="size" name="size" required>
                        <% product.subcategory.sizes.forEach(size => { %>
                          <option value="<%= size %>"><%= size %></option>
                        <% }) %>
                      </select>
                    </div>
                    <% } %>
                  <% } else { %>
                    <p><b>Subcategory:</b> <%= product.subcategory %></p>
                  <% } %>
    
                  <p><b>Price:</b> £<%= product.price %></p>
                  <p><b>In Stock:</b> <%= product.quantity_in_stock %></p>
                </div>


                <div class="product-details-col-actions">
                  <form class="add-to-cart-form" id="addToCartForm" method="POST" action="/cart/add">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <input type="hidden" name="price" value="<%= product.price %>">
                    <input type="hidden" name="productName" value="<%= product.item_name %>">
                    <input type="hidden" name="category" value="<%= product.category %>">
                    <% if (typeof product.subcategory === 'object' && product.subcategory.sizes && product.subcategory.sizes.length > 0) { %>
                      <input type="hidden" name="selectedSize" id="selectedSize" value="<%= product.subcategory.sizes[0] %>">
                    <% } %>
                    <div class="quantity-controls">
                      <label for="quantity"><b>Quantity:</b></label>
                      <div class="quantity-selector">
                        <button type="button" id="decreaseQuantity">-</button>
                        <input type="number" id="quantity" name="quantity" value="1" min="1" max="<%= product.quantity_in_stock %>">
                        <button type="button" id="increaseQuantity">+</button>
                      </div>
                    </div>
                    <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                  </form>
                  <form action="/wishlist/add/<%= product._id %>" method="POST">
                    <button type="submit" class="wishlist-btn">Add to Wishlist</button>
                </form>
                </div>
              </div>
            </div>
          </div>
       
    </main>

    <%- include('partials/footer') %>

    <div id="searchModal" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Search Products</h2>
          <input type="text" id="searchInput">
          <div id="resultsContainer" class="results-container"></div>
      </div>
  </div>
  
  <script src="https://kit.fontawesome.com/your-fontawesome-kit-code.js" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
</body>
<script src="/scripts/quantityInputsLogic.js"></script>
<script src="/scripts/addProductToCart.js"></script>
<script src="/scripts/scrollTopBtn.js"></script>
<script src="/scripts/contextMenu.js"></script>
<script src="/scripts/wishlist.js"></script>
<script src="/scripts/moveToCartFromWishlist.js"></script>
<script src="/scripts/search.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const addToCartForm = document.getElementById('addToCartForm');
    if (addToCartForm) {
        addToCartForm.addEventListener('submit', (event) => {
            const selectedSizeElement = document.getElementById('size');
            if (selectedSizeElement) {
                const selectedSizeInput = document.getElementById('selectedSize');
                selectedSizeInput.value = selectedSizeElement.value;
            }
        });
    }
});
</script>

</html>